body{
    overflow:hidden;
    height:100vh;
}


.container-work{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container-work button{
  height: 5%;
  margin-top: 13vh;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 22px;
  display: flex;
  align-items: center;
  background-color: #00E06C;
  color:black;
  border: 0px;
  text-transform: none;
  font-family: "Anton", sans-serif;
  font-weight: 100;
}

.slider {
  position: absolute;
  top: 20vh;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  perspective: 200px;
  perspective-origin: 50% 100%;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 650px;
  border-radius: 10px;
  transform: translate3d(-50%, -50%, 0px);
  overflow: hidden;
  background: #000;
  -webkit-transform: translate3d(-50%, -50%, 0px);
  -moz-transform: translate3d(-50%, -50%, 0px);
  -ms-transform: translate3d(-50%, -50%, 0px);
  -o-transform: translate3d(-50%, -50%, 0px);
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.copy {
  position: absolute;
  text-align: center;
  color: white;
  line-height: 90%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

h1 span {
  position: relative;
  display: inline-block;
  color: white;
}

.copy p {
  color: white;
}

@media (max-width: 840px) {
  h1 span{
    font-size: 30px;
  }
  body{
    overflow:hidden;
    max-height:100vh;
}
}
